@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-width: 450px;
  min-height: 600px;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 178 85% 39%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 178 77% 70%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 178 77% 70%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 203 39% 18%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 231 73% 30%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 178 85% 39%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 203 34% 13%;
    --foreground: 210 20% 98%;
    --card: 181 69% 29%;
    --card-foreground: 210 20% 98%;
    --card-border: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 212 88% 54%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 178 77% 70%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 178 77% 70%;
    --input: 219 32% 10%;
    --ring: 178 77% 70%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 203 39% 18%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 231 73% 30%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 178 85% 39%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

.dev-bg-image {
  background: url("../assets/covers/xon-cover.png") no-repeat;
  background-size: cover;
  background-position: center 15%;
}

.background-theme {
  background: url("../assets/covers/bg.png") no-repeat;
  background-size: cover;
  background-position: center 15%;
}

.dark .background-inside-theme {
  background: url("../assets/covers/bg-inside.png") no-repeat;
  background-size: cover;
  background-position: top center;
}

.background-box {
  background: url("../assets/covers/awesomebox.png") no-repeat;
  background-size: cover;
  background-position: top center;
}

/* HTML: <div class="loader"></div> */
.loader {
  margin-left: 14px;
  width: 30px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side, #fff 90%, #0000);
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100% / 4) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
  33% {
    background-size:
      calc(100% / 3) 0%,
      calc(100% / 3) 100%,
      calc(100% / 3) 100%;
  }
  50% {
    background-size:
      calc(100% / 3) 100%,
      calc(100% / 3) 0%,
      calc(100% / 3) 100%;
  }
  66% {
    background-size:
      calc(100% / 3) 100%,
      calc(100% / 3) 100%,
      calc(100% / 3) 0%;
  }
}
